body {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#myheader {
    position: fixed;
    width: 25%;
    height: 50px;
    
    max-width: 350px;

    text-align: center;
}

#myheader h4 {
    margin: auto;
    width: 100%;
    height: 75%;
    font-size: 30px;
}

#navigation {
    position: fixed;
    display: block;
    top: 80px;

    height: fit-content;
    width: 25%;
    max-width: 350px;
}

#navigation ul {
    display: block;
    margin: 0;
    padding: 0;

    background-color: rgb(200, 200, 200);
    border: 1px solid black;
    
    list-style-type: none;
    font-size: 14px;
}

#navigation li {
    border-bottom: 1px solid black;
}

#navigation li a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 6px 8px;
    margin: 2px 4px;

    color: black;
    text-decoration: none;
}

#navigation li:last-child {
    border-bottom: none;
}

#navigation li:hover {
    background-color: rgb(60, 240, 156);
    color: white;
}

#blogpost {
    display: block;
    position: relative;
    top: 50px;

    margin-left: 30%;
    margin-right: 75px;

    padding-bottom: 10px;
}

#blogpost h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#blogpost p {
    text-align: justify;
}

#blogpost table,
#blogpost th,
#blogpost td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#blogpost thead p {
    text-align: center;
}

#blogpost td {
    padding-left: 5px;
}

#blogpost figure {
    position: relative;
}

figcaption {
    text-align: center;
}

figure {
    display: block;
}

figure img {
    display: block;
    margin: auto;

    object-fit: scale-down;
}

code {
    padding: 7px;

    background-color: #eee;
    font-family: monospace;
}
